/* Selectores avanzados y Animaciones 

● Selectores avanzados.
● Animaciones con CSS.
● Incorporación de transformaciones y transiciones a elementos.
● Introducción Responsive Web Design

Selectores avanzados

Utilizan combinadores, signos gráficos que establecen la relación entre los elementos y
permiten hacer una selección específica:


Agrupado (, -coma)
Se utiliza cuando varios elementos comparten una serie de declaraciones iguales, se aplican 
las reglas Css a los selectores involucrados. Por ejemplo:

p, a, div {
    Reglas Css
    }

Descendiente (espacio)
Apunta a elementos contenidos dentro de otro en la estructura del documento, sin importar
la profundidad o  los descendientes interpuestos entre ellos. Por ejemplo:

div p {
    Reglas Css
    }

Hijos directos > (mayor)
Selecciona los elementos que sean hijos directos del contenedor padre, descartando nietos y sucesivos.

span > a {
    Reglas Css
    }

Hermano adyacente + (signo más)
Aplica estilos a elementos que siguen inmediatamente a otros. Deben tener el mismo elemento padre y ser 
adyacentes. Por ejemplo:

div + p {
    Reglas Css
    }

General de hermanos ~ (tilde de la ñ)
Selecciona los elementos hermanos del especificado, sin necesidad de que sean adyacentes. 
Por ej.:

div ~ p {
    Reglas Css
    }


    Pseudoclases

Una pseudoclase es un selector que marca los elementos que están en un estado específico o tienen
un comportamiento determinado. Todas las pseudoclases se denominan mediante una palabra precedida 
por dos puntos y se comportan del mismo modo. Afectan un fragmento del documento que está 
en un estado determinado y se comportan como si se hubiera añadido una clase a su HTML.

:first-child

Esta pseudoclase modifica el estilo del primer elemento de un grupo de elementos hermanos 
dentro de un contenedor, es decir “el primer hijo de su padre”. Por ejemplo:

A partir de:
                <div>
                    <p> Párrafo 1 </p>
                    <p> Párrafo 2 </p>
                    <p> Párrafo 3 </p>
                </div>

p:first-child {
    color: red;
    }

:last-child

Se utiliza para representar al último elemento entre un grupo de elementos hermanos 
dentro de un contenedor, es decir “el último hijo de su padre”. Entonces,
dado el mismo contenedor, por ejemplo:

p:last-child {
    color: blue;
    }

:nth-child(n)

El selector coincide con cada elemento que es el n-ésimo hijo, independientemente del tipo
y de su padre. N puede ser un número, una palabra clave o una fórmula. Dado el mismo contenedor,
por ejemplo:

p:nth-child(2) {
 background: cyan;
    }

Más info: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_last-child
En el ejemplo siguiente, vemos como de la lista se seleccionan primero los
elementos 3, 6 y 9, y luego los que son pares:

<ol>
 <li> Item 1</li>
 <li> Item 2</li>
 <li> Item 3</li>
 <li> Item 4</li>
 <li> Item 5</li>
 <li> Item 6</li>
 <li> Item 7</li>
 <li> Item 8</li>
 <li> Item 9</li>
</ol>

li:nth-child(3n) {
     background: lightskyblue;
    }

li:nth-child(2n) {
     background: lightgreen;
}
*/
